{% extends '../base.html' %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block content %}
	<h2>Login</h2>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit">Login</button>
	</form>
{% endblock %}