{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ user_form|crispy }}
    {{ profile_form|crispy }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}