{% extends 'base.html' %}

{% block content %}
{% if next_date %}
    <ul>
    {% for date in next_date %}
        <li>{{ date.date }}
	        <form method="post">{% csrf_token %}
	        <input name="date_id" type="hidden" value="{{ date.date.id }}"/>
	        <button name="response" value="True" {% if date.response.response is True %} style="background-color: #4CAF50" {% endif %}  type="submit">✔</button>
	        <button name="response" value="False" {% if date.response.response is False %} style="background-color: #4CAF50" {% endif %}  type="submit">✘</button>
	        </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No dates are available.</p>
{% endif %}
{% endblock %}

